* {
  box-sizing: border-box;
}

body,
h1
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
    display: grid;
    min-width: 850px;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #fff;
    min-width: 850px;
    min-height: 100vh;
    margin: 0;
    background-color: aqua;
}
.header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    padding-left: 50px;
    padding-top: 133px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}
.nav {

}
.logo {
    display: grid;
}
.cover {

}
.car1 {

}
.car2 {

}
.card3 {

}
.about {

}
.foother {

}