* {
  box-sizing: border-box;
}
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
    display: grid;
    font-family: 'Raleway', Arial, sans-serif;
    min-width: 850px;
    min-height: 100vh;
    margin: 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
}
.header_nav {
    display: flex;
    flex-direction: row;
    gap: 3px;
    list-style: circle;
    padding: 133px 0px 138px 50px;
    
    margin: 0;

}
.header_nav ul {
    display: flex;
    list-style: circle;
    max-height: 22px;
    gap: 16px;
    margin: 0;
}
.header_nav li {
  padding: 5px 5px; 
  max-height: 22px;
}
.first_ {
    display: flex;
    list-style: none;
}
.header_logo { 
    margin: 0;
    padding-left: 37px ;
    
}
.header_logo-img {

}
.header_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px 0px 0px;
    margin: 0;
    max-width: 240px;
    justify-self: end;
    font-style: normal;
}
.header_contacts ul {
    list-style: none;
}
 .cover_title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    color: white;
    background-image: url('0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   }
.text_left {
    

}
.text_center {

}
.text_right{
   
}
.car1 {

}
.car2 {

}
.card3 {

}
.about {

}
.footer {

}

